include README.md
include requirements.txt
include LICENSE
recursive-include escagcp/config *.yaml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude temp_test_files *
recursive-exclude test_output * 